.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  background: url(../img/global__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.hidden {
  visibility: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Стилізувати верхній блок сторінки */
header {
  padding-bottom: 24px;/* Задайте внутрішній відступ у 24 пікселів зверху та знизу */ 
  padding-top: 24px;   
}


.header-container {
  display: flex;/* Задайте властивість flex для гнучкого розташування елементів */
  justify-content: space-between;/* Розташуйте елементи верхнього блоку рівномірно */
 
}


.header-nav {
  display: flex;/* Задайте властивість flex для гнучкого розташування елементів */
  justify-content: center;/* Розташуйте елементи навігаційного меню по центру */
  gap: 60px;/* Задайте проміжок між елементами навігаційного меню 60 пікселів */
}


.header-list {
  display: flex;/* Задайте властивість flex для гнучкого розташування елементів */
  justify-content: center;/* Розташуйте елементи верхнього блоку по центру */
  padding: 0px 60px;/* Задайте проміжок між елементами верхнього блоку 60 пікселів */
}


.header-item {
  padding: 0px 12px;/* Задайте зовнішній відступ для елементів списку верхнього блоку 12 пікселів */
}      


.header-link {
  /* Видаліть підкреслення для посилань верхнього блоку */
  /* Задайте білий колір тексту для посилань верхнього блоку */
  /* Задайте розмір шрифту 14 пікселів для тексту посилань верхнього блоку */
  /* Задайте товщину шрифту 500 для тексту посилань верхнього блоку */
  /* Задайте плавний перехід для анімації тексту посилань верхнього блоку */
}


.header-link:hover {
/* Змініть колір тексту на фіолетовий при наведенні на посилання верхнього блоку */
}


.header-button {
  /* Задайте внутрішній відступ для кнопки верхнього блоку */
  /* Задайте висоту рядка 1.5 */
}







.solution-container {
  /* Зробіть, щоб елементи в цьому контейнері виглядали поруч */
}

.start-inner {
}

.start-title {
  background: linear(to right, purple, white);/* Задайте градієнтний фон для тексту заголовка */
  -webkit-background-clip: text;/* Зробіть фоновий градієнт видимим тільки в межах тексту */
  /* Зробіть колір тексту прозорим для використання градієнту */
  /* Додайте тінь для створення об'ємного ефекту */
  /* Розмір шрифту 58px */
  /* Товщина шрифту 700 */
  /* Висота рядка тексту 84px */
  /* Відстань між символами 1.16px */
  /* Відстань від нижнього краю 32px */
}

.start-article {
  /* Колір тексту параграфа білого */
  /* Тінь тексту для створення об'ємного ефекту */
  /* Розмір шрифту 15px */
  /* Товщина шрифту 500 */
  /* Висота рядка тексту 30px */
  /* Відстань від нижнього краю 32px */
}

.start-buttons {
  /* Зробіть кнопки на блоку "start-buttons" вигнутими поруч */
}

.start-button {
  /* Встановіть відступи всередині кнопки 12 px та 24px */
  /* Відступ справа від кнопки 32px */
}

.start-button-video {
  /* Зробіть кнопку для відео вигнутою в ряд */
  /* Вирівняйте елементи по вертикалі по центру */
  /* Видаліть фон кнопки */
  /* Колір тексту кнопки білий */
  /* Видаліть межі кнопки */
}

.start-button-video span {
  /* Відступ зліва на 10 від тексту кнопки */
  /* Розмір шрифту 16px*/
  /* Товщина шрифту 500*/
  /* Звичайна висота рядка тексту */
}
